div.lw_wrapper{

    color: var(--font-color-gray);
}

div.lw_description, div.lw_temperature{

    font-size: 9rem;
    font-style: normal;
    font-weight: 200;

}

div.lw_location{
    font-size: 5rem;
    font-weight: 400;
}

div.lw_date, div.lw_time{
    margin-left: auto;
    font-size: 3rem;
    font-weight: 300;
}



