.wdm_wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    
}

.live_weather{
    font-style:italic;
    font-size: 30px;
    font-weight: 600;
    margin-right: auto;
}

.weather_details{
    font-style: oblique;
    margin-left: auto;

}